# 프로그래머스 과제 풀어보기

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

|userID|jobID|usertags|jobtags|companyID|companySize|applied|
|---|---|---|---|---|---|---|

아니면

|userID|jobID|공통 키워드 수|companyID|companySize|applied|
|---|---|---|---|---|---|

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('seaborn-whitegrid')
import warnings
warnings.filterwarnings('ignore')
from tqdm.notebook import tqdm

In [2]:
plt.rc('font', size=13)
plt.rc('font', family='NanumGothic')

In [3]:
df_train = pd.read_csv('../source/Applypredict(programmers)/train_job/train.csv')
df_test = pd.read_csv('../source/Applypredict(programmers)/test_job.csv')
df_companies = pd.read_csv('../source/Applypredict(programmers)/train_job/job_companies.csv')
df_jobtags = pd.read_csv('../source/Applypredict(programmers)/train_job/job_tags.csv')
df_tags = pd.read_csv('../source/Applypredict(programmers)/train_job/tags.csv')
df_usertags = pd.read_csv('../source/Applypredict(programmers)/train_job/user_tags.csv')

In [8]:
df_train

,userID,jobID,applied
0,fe292163d06253b716e9a0099b42031d,15de21c670ae7c3f6f3f1f37029303c9,0
1,6377fa90618fae77571e8dc90d98d409,55b37c5c270e5d84c793e486d798c01d,0
2,8ec0888a5b04139be0dfe942c7eb4199,0fcbc61acd0479dc77e3cccc0f5ffca7,1
3,f862b39f767d3a1991bdeb2ea1401c9c,3b5dca501ee1e6d8cd7b905f4e1bf723,0
4,cac14930c65d72c16efac2c51a6b7f71,287e03db1d99e0ec2edb90d079e142f3,0
...,...,...,...
5995,68cb94b97d00979f4e8127915885b641,b9228e0962a78b84f3d5d92f4faa000b,0
5996,c0b199d73bdf390c2f4c3150b6ee1574,e3796ae838835da0b6f6ea37bcf8bcb7,0
5997,3ab88dd28f749fe4ec90c0b6f9896eb5,e2a2dcc36a08a345332c751b2f2e476c,0
5998,75b4af0dacbc119eadf4eeb096738405,3b712de48137572f3849aabd5666a4e3,0
5999,67adefb430df142b099bed89bd491524,65cc2c8205a05d7379fa3a6386f710e1,0

In [14]:
df_usertags.groupby(['tagID']).count()

                                  userID
tagID
03e7ef47cee6fa4ae7567394b99912b7       3
03f544613917945245041ea1581df0c2     206
045117b0e0a11a242b9765e79cbf113f      14
06eb61b839a0cefee4967c67ccb099dc      51
07042ac7d03d3b9911a00da43ce0079a       1
...                                  ...
fe70c36866add1572a8e2b96bfede7bf       5
feab05aa91085b7a8012516bc3533958       5
fec87a37cdeec1c6ecf8181c0aa2d3bf      10
ffeabd223de0d4eacb9a3e6e53e5448d      15
ffeed84c7cb1ae7bf4ec4bd78275bb98     326

[345 rows x 1 columns]

5804